.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 background-image: url("/public/images/back.jpg");
  background-size: cover;
  background-position: center;
}

.content {
  flex: 1;
}

.header {
  background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent background */
  padding: 10px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header li {
  display: inline;
  margin-right: 20px;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.home-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

.home-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.home-container p {
  font-size: 1.2em;
}

.login-container,
.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.footer {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
}
